.cards {
  @include grid;
}

.cards * {
  box-sizing: border-box;
}
.card {
  -webkit-box-shadow: 5px 7px 5px 3px rgba(204,204,204,1);
  -moz-box-shadow: 5px 7px 5px 3px rgba(204,204,204,1);
  box-shadow: 5px 7px 5px 3px rgba(204,204,204,1);
  border-radius: 10px;
  &__image {
   @include image;

  }

  &__content {
    line-height: 1.3;
    font-size: 16px;
    padding: 15px;
    background-color: $card-background;
    color: $card-color;
    height: 110px;
  }
  &__info {
    @include card-info;

    .clock{
      width: 24px;
      height: 24px;
      fill: red;
    }

    .heart{
      @include iconHeart;

    }
  }

  &__link{
    text-decoration: none;
    position: relative;
    letter-spacing: 0.5px;
    color: #bb3e03;

    &:hover {
      color: #ffffff;
    }

  }
}
.card__link:after{
  content: "";
  position: absolute;
  background-color: #c75146;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}
.card__link:hover:after{
  width: 100%;
}


