.type__container{
  width: 58%;
  margin: 0 auto;

  a {
    img {
      width: 280px;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  p {
    font-size: 16px;
    color: $card-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;

    &:hover{
      color: #0a2650;
      font-size: 18px;
    }
  }

}
.type__wrapper{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "breakfast dessert salad"
    "drinks    dessert soup"
    ". . .";
overflow: hidden;
}
.type__wrapper img {
  transition: .3s ease-in-out;
}

.type__wrapper img:hover{
  transform: scale(1.2);
}
.breakfast {
  grid-area: breakfast;
  position: relative;
}

.breakfast__desc, {
  position: absolute;
  bottom: 14px;
  left: 92px;
}
.drinks{
  position: relative;
}
.drinks__desc{
  position: absolute;
  bottom: 14px;
  left: 92px;
}
.drinks img {
  height: 186px;
  grid-area: drinks;
}
.dessert {
  grid-area: dessert;
  position: relative;
}
.dessert img {
  height: 401px;
}
.dessert__desc {
  position: absolute;
  left: 100px;
  bottom: 13px;
}
.soup {
  grid-area: soup;
  position: relative;
}
.soup__desc {
  position: absolute;
  bottom: 16px;
  left: 124px;
}
.salad {
  grid-area: salad;
  position: relative;
}
.salad__desc{
  position: absolute;
  left: 110px;
  bottom: 16px;
}

