@mixin grid(){
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
  padding-top: 30px;
}
@mixin  image() {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
  border-radius: 10px 10px 0 0
}

@mixin card-info() {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #fec89a;
          //#f4a261;
          //#f4a261;
  border-radius: $info-borderRadius;
}
@mixin link {
  color: #bb3e03;
  text-decoration: none;
}
@mixin iconHeart{
  width: 19px;
  height: 19px;
  fill: red;
  cursor: pointer;
  margin-top: 3px;
}