$card-background: #fff;
//#ecf5f9   #deedf6  #e0edf6
$card-color: #c75146;

//#254475  #b43a6f  #486a9f;
$card-link:#bb3e03;

$title-color:#474747;

$image-borderRadius: 10px 10px 0 0;
$info-borderRadius: 0 0 10px 10px;
